@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

:root {
  --clr-primary: hsl(172, 67%, 45%);
  --clr-dark-cyan: hsl(183, 100%, 15%);
  --clr-dark-grayish-cyan: hsl(186, 14%, 43%);
  --clr-dark-grayish-cyan2: hsl(184, 14%, 56%);
  --clr-light-grayish-cyan: hsl(185, 41%, 84%);
  --clr-light-grayish-cyan2: hsl(189, 41%, 97%);
  --clr-white: hsl(0, 0%, 100%);
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Space Mono", sans-serif;
  background: var(--clr-light-grayish-cyan);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 1rem;
}

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.1rem grey; 
  border-radius: 1rem;
}
::-webkit-scrollbar-thumb {
  background: var(--clr-dark-cyan); 
  border-radius: 1rem;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--clr-light-grayish-cyan); 
}

.logo {
  height: 19%;
  margin: 1rem;
}